@import "tailwindcss";

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background: white !important;
      color: black !important;
    }
  }
}
